html {
    font-family: 'Work Sans', sans-serif !important;
    }
  body {
    display: flex;
    height: 160vh;
    flex-direction: column;
    }
  .background-tint {
    background-color: rgba(45, 78, 167, 0.9); 
    background-blend-mode: multiply;
    }
  .background {
    background-image: url("https://www.tripsavvy.com/thmb/gBh7yijaIXuoPbDJL0PRH0ilwlM=/2119x1414/filters:fill(auto,1)/42nd-street-at-night--manhattan--new-york-952716070-5c93ad6c46e0fb000165dfad.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 160%;
    }