html {
    font-family: 'Work Sans', sans-serif !important;
    }
  body {
    display: flex;
    height: 160vh;
    flex-direction: column;
    }
  .background-tint {
    background-color: rgba(45, 78, 167, 0.9); 
    background-blend-mode: multiply;
    }
  .background {
    background-image: url("https://www.tripsavvy.com/thmb/gBh7yijaIXuoPbDJL0PRH0ilwlM=/2119x1414/filters:fill(auto,1)/42nd-street-at-night--manhattan--new-york-952716070-5c93ad6c46e0fb000165dfad.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 160%;
    }
  .sidenav {
    background-color: black;
   }
  .blue {
    background-color: #06cbf4 !important;
    opacity: 0.8;
  }
  .blue-gradient {
    background: linear-gradient(
  #4a97ed 0%,
  #06cbf4 50%, 
  #06cbf4 50%, 
  #4a97ed 100%
  ) !important;
  opacity: 0.9;
  height: 320px;
  }
  .pink-gradient {
    background: linear-gradient(
  #f74cd3 0%, 
  #fad17e 50%,
  #fad17e 50%,
  #f74cd3 100%
  ) !important;
  opacity: 0.9;
  height: 320px;
  }
  .green-gradient {
    background: linear-gradient(
  #118847 0%, 
  #42ba82 50%,
  #42ba82 50%,
  #118847 100%
  ) !important;
  opacity: 0.9;
  height: 320px;
  }
  .purple-gradient {
    background: linear-gradient(
  #7790f9 0%, 
  #a371f5 50%,
  #a371f5 50%,
  #7790f9 100%
  ) !important;
  opacity:0.9;
  height: 130px;
  }
  .red-gradient {
    background: linear-gradient(
  #f70457 0%, 
  #fe01c3 50%,
  #fe01c3 50%,
  #f70457 100%
  ) !important;
  opacity:0.9;
  }
  .medium {
    color: white;
  }
  ::placeholder{
    color: white;
  }

  #map {
    margin-top: 25px;
    margin-left: 10px;
    width: 470px;
    height: 420px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  main {
    flex: 1 0 auto;
  }
  .page-footer {
    text-align: center;
    background-color: #06cbf4 !important;
    margin-top: 250px;
    padding: 10px 0;
    opacity: 0.8;
  }